.so-widget-lsow-hero-image-default-06c2a236e8bf .lsow-hero-header {
padding-top: 200px;
padding-bottom: 200px;
}
@media screen and (max-width: 800px) {
.so-widget-lsow-hero-image-default-06c2a236e8bf .lsow-hero-header {
padding-top: 80px;
padding-bottom: 80px;
}
}
@media screen and (max-width: 400px) {
.so-widget-lsow-hero-image-default-06c2a236e8bf .lsow-hero-header {
padding-top: 50px;
padding-bottom: 50px;
}
}